<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunset Image</title>
    <link rel="stylesheet" href="{%static "css/mystyle.css"%}">
</head>
<body>
    <h1>This is a picture of sunset</h1>
    <img src="{%static "images/sunset.jpg"%}" alt="uh oh images not found">



    <!-- {{insert_me}} this is from template tag example -->
</body>
</html>